@charset "utf-8";

footer {
  margin-top: 40px;
}



/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
  background: url("/images/cover.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.panel-body {
  background: #f2f2f2;
}



.panel-footer {
  margin-top: 10px;
}

.media-object {
    display: inline-block;
}

.delete-btn {
    float: right;
}

h1 {
  position: relative;
  padding: 1em 0;
  font-weight: bolder;
}
h1::before,
h1::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 6px;
  box-sizing: border-box;
}
h1::before {
  top: 0;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}
h1::after {
  bottom: 0;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}


.img {
  height: 170px;
  width: 170px;
  display: block;
  text-align: center;
  background: black;
  margin: auto;
}

.tweet {
    border: 3px solid #ccc;
    margin: 5px;
}

.post-title {
  font-size: 16px;
}

.pos {
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
    width: 80%;
}

.panel-footer-show {
  margin: 0px;
}

.center {
  text-align: center;
  color: #24bde0;
}

.concept {
  text-align: center;
}

.secondary {
  font-size: 18px
}

.inner-content {
 color: #fff;
}

.back-page {
 text-align: center;
 color: white
}