<aside id="sidebar">
  <div class="col-xs-4">
    <div class="panel-default">
      <div class="panel-heading text-center">
        ランキング
      </div>
      <div class="panel-body">
        
      </div>
    </div>
    <p>aaaaa</p>
  </div>
</aside>